<div class="wrap">

  <div class="register">
    <h1>Sign Up as a {{ storage.getUserType() }}</h1>

    <a [routerLink]="'/login/' + storage.getUserType()" routerLinkActive="active-link" *ngIf="true">
      Already have an account?
    </a>

    <form (submit)="signUp(form)" #form="ngForm">
      <input type="text" [placeholder]="storage.getUserType() == 'worker'? '*name':'*company name'" ngModel
        #username="ngModel" name="name" required>
      <input type="text" placeholder="*surname" ngModel #username="ngModel" name="surname" required
        *ngIf="storage.getUserType() == 'worker'">
      <input type="text" placeholder="*city" ngModel #username="ngModel" name="city_id" required>
      <input type="text" placeholder="*email" ngModel #email="ngModel" name="email" required>
      <input type="password" placeholder="*password" ngModel #password="ngModel" name="password" required>

      <span class="required">* required data</span>
      <button>Sign up</button>
    </form>

    <span [class]="msgClass">{{msg?.message}}</span>
  </div>
</div>