@import "../../../../variables.scss";

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  .component-wrapper {
    height: 98%;
    width: 100%;

    margin-left: 20px;
    border-radius: 10px 4px 0 10px;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: rgba($color: $job-color, $alpha: 0.7);
    // background-color: rgba($color: black, $alpha: 0.7);
    //background-color: rgba($color: white, $alpha: 0.7);
    
    .accordion {
      
      .card {
        border: none;
        background: transparent;
        // background-color: rgba($color: black, $alpha: 0.7);
        // background-color: rgba($color: $job-color, $alpha: 0.7);
        // background-color: rgba($color: $job-color, $alpha: 1);
        
        .btCollapseWrap {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          // border-bottom: 1px solid rgba($color: $job-color, $alpha: 0.8);
          border-bottom: 1px solid rgba($color: white, $alpha: 0.8);
          
          .btCollapse {
            cursor: pointer;
            // color: #80c3eb;
            color: white;
            background: transparent;
          }

          .card-body {
            padding: 0;
            height: auto;
            background: white;
          }
        }
      }
    }
  }
}
