<div class="wrap">

  <!-- SUBSCRIPTIONs -->
  <div class="detail" *ngIf="viewType == 'subscriptions'">
    <app-jobpill [index]="i" [detailType]="'subscriptions'" *ngFor="let item of storage.subscriptions; let i = index">
    </app-jobpill>
    <!-- <app-jobpill [index]="1" *ngFor="let i of [].constructor(20)" (click)="getDetail(i)"></app-jobpill> -->
  </div>

  <!-- TOPs -->
  <div class="detail" *ngIf="viewType == 'top'">
    <app-jobpill [index]="i" [detailType]="'top'" *ngFor="let item of storage.topJobs; let i = index">
    </app-jobpill>
  </div>

  <!-- SEARCHs -->
  <div class="detail" *ngIf="viewType == 'search'">
    <div class="msg-wrap" *ngIf="emptySearch()">
      <span>..  no matches found  ..</span>
    </div>

    <h4 *ngIf="!emptySearch()">JOBs</h4>
    <app-jobpill [index]="i" [detailType]="'search'" *ngFor="let item of storage.workerSearch; let i = index">
    </app-jobpill>    
  </div>

</div>