@import "../../../variables.scss";

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  .component-wrapper {
    height: 98%;
    width: 100%;

    margin-left: 20px;
    
    border-radius: 10px 0 0 10px;
    border-top: $area-border;
    border-bottom: $area-border;
    border-left: $area-border;
    
    color: white;
    // background: white;
    // background-color: rgba($color: white, $alpha: 0.9);
    background: rgba(0, 0, 0, 0.9);
  }
}
// .main-wrapper {
//   color: white;
//   background-color: lightgreen;
//   // background: white;
//   // background: rgba($color: $job-color, $alpha: 1);
//   // border-top: 1px solid $job-color;
//   // border: 1px solid $job-color;
//   height: 100%;
//   width: 100%;

//   // display: grid;
//   // grid-template-columns: 325px 1fr;

//   // .profile {
//   //   // border: 1px solid $job-color;

//   //   .profile-component {
//   //     // margin-left: 0px;
//   //     width: 100%;
//   //     height: 98%;
//   //     border-radius: 0 10px 10px 0;
//   //     border-top: $area-border;
//   //     border-bottom: $area-border;
//   //     border-right: $area-border;

//   //     background-color: rgba($color: $job-color, $alpha: 0.9);
//   //     // background: rgba(0, 0, 0, 0.9);
//   //   }
//   // }

//   // .detail {
//   //   // border: 1px solid $job-color;

//   //   .detail-component {
//   //     margin-left: 20px;
//   //     width: calc(100% - 20px);
//   //     height: 98%;
//   //     border-radius: 10px 0 0 10px;
//   //     border-top: $area-border;
//   //     border-bottom: $area-border;
//   //     border-left: $area-border;

//   //     // background: white;
//   //     background-color: rgba($color: white, $alpha: 0.9);
//   //     // background: rgba(0, 0, 0, 0.9);
//   //   }
//   // }
// }
