@import "../variables.scss";

.main-wrap {
  background-image: url("../assets/img/background_1920x1080.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;

  width: 100vw;
  min-width: 1000px;
  height: 100vh;

  // overflow: hidden;
  overflow-y: hidden;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 130px calc(100vh - 130px);

  grid-template-areas:
    "  nav     nav "
    "profile outlet";

  app-nav {
    grid-area: nav;
  }

  .profile-wrap {
    grid-area: profile;
    background-color: rgba($color: $profile-color, $alpha: 0.7);
    border-radius: 0 10px 10px 0;
  }

  .router-wrap {

    router-outlet {
      grid-area: outlet;
    }
  }
}
