<div class="wrap" *ngIf="storage.getUser()">

  <div class="bt-wrap">
    <div class="bt-icon" (click)="readOnly = !readOnly">
      <i class="fas fa-pencil-alt" *ngIf="readOnly"></i>
      <i class="far fa-save" style="font-size: 1.3em;" *ngIf="!readOnly" (click)="updateUserData()"></i>
    </div>
    <div class="bt-icon" (click)="editPass = !editPass">
      <i class="fas fa-key" *ngIf="!editPass"></i>
      <i class="fas fa-times" style="font-size: 1.3em;" *ngIf="editPass"></i>
    </div>
    <div class="bt-logout" (click)="logout()">
      Log out
    </div>
  </div>

  <!-- user profile zone -->
  <img [src]="user.url_img ? this.storage.getUrl() + 'myprofile/img/' + user.url_img : '../../../assets/img/' + storage.getUserType() + '_default.png'"
    alt="user image" [ngClass]=getAvatarClass() *ngIf="storage.getUserType() != 'both' && readOnly">
  
  <div class="upload" *ngIf="!readOnly">
    <label for="file-upload" class="bt-upload">
      <i class="fas fa-cloud-upload-alt"></i>
      <span id="msg-upload">{{ uploadMsg }}</span>
    </label>
    <input id="file-upload" type="file" (change)="imgLoad($event.target.files)" style='display: none;'>
  </div>

  <input [ngClass]="{'input-name': true, 'edit': !readOnly}" name="name" type="text" [(ngModel)]="user.name"
    [readonly]="readOnly" />
  <input [ngClass]="{'input-varios': true, 'edit': !readOnly}" name="surname" type="text" [(ngModel)]="user.surname"
    [readonly]="readOnly" *ngIf="storage.getUserType()=='worker'" />
  <input [ngClass]="{'input-varios': true, 'edit': !readOnly}" name="cif" type="text" [(ngModel)]="user.cif"
    [readonly]="readOnly" *ngIf="storage.getUserType()=='company'" />
  <input [ngClass]="{'input-email': true, 'edit': !readOnly}" name="email" type="text" [(ngModel)]="user.email"
    [readonly]="readOnly" />
  <input [ngClass]="{'input-city': true, 'edit': !readOnly}" name="city" type="text" [(ngModel)]="user.city_name"
    [readonly]="readOnly" />

  <!-- <a [href]= "'mailto:' + user?.email"  class="user-email">{{ user?.email }}</a> -->

  <!-- password change -->
  <div class="pass-wrapper" *ngIf="editPass">
    <form class="pass-form" (submit)="changePass(form)" #form="ngForm">
      <p>- CHANGE PASS -</p>
      <input type="password" placeholder="*current" ngModel #currentPass="ngModel" name="password" required>
      <input type="password" placeholder="*new" ngModel #pass="ngModel" name="newPassword" required>
      <button>change</button>
    </form>
    <span [class]="msgClass">{{msg?.message}}</span>
  </div>

  <!-- worker accordion -->
  <div class="accordion" id="accordionProfile" *ngIf="storage.getUserType()=='worker' && !editPass">
    <div class="card">
      <div class="card-header" id="headingOne">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          About me
        </button>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionProfile">
        <div class="card-body">
          <textarea [ngClass]="{'input-section': true, 'edit': !readOnly}" [(ngModel)]='user.about' rows="2" cols="120"
            [readonly]="readOnly"></textarea>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Education
        </button>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionProfile">
        <div class="card-body">
          <textarea [ngClass]="{'input-section': true, 'edit': !readOnly}" [(ngModel)]='user.education' rows="3"
            cols="120" [readonly]="readOnly"></textarea>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          Experience
        </button>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionProfile">
        <div class="card-body">
          <textarea [ngClass]="{'input-section': true, 'edit': !readOnly}" [(ngModel)]='user.experience' rows="3"
            cols="120" [readonly]="readOnly"></textarea>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
          aria-expanded="false" aria-controls="collapseFour">
          Skills
        </button>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionProfile">
        <div class="card-body">
          <textarea [ngClass]="{'input-section': true, 'edit': !readOnly}" [(ngModel)]='user.skills' rows="3" cols="120"
            [readonly]="readOnly"></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- company accordion -->
  <div class="accordion" id="accordionProfile" *ngIf="storage.getUserType()=='company'  && !editPass">
    <div class="card">
      <div class="card-header" id="headingOne">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Sector
        </button>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionProfile">
        <div class="card-body">
          <textarea [ngClass]="{'input-section': true, 'edit': !readOnly}" [(ngModel)]='user.sector' rows="2" cols="120"
            [readonly]="readOnly"></textarea>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Description
        </button>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionProfile">
        <div class="card-body">
          <textarea [ngClass]="{'input-section': true, 'edit': !readOnly}" [(ngModel)]='user.description' rows="5"
            cols="120" [readonly]="readOnly"></textarea>
        </div>
      </div>
    </div>
  </div>