@import "../../../variables.scss";

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: left;

  .bt-wrap {
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;

    .bt-icon,
    .bt-logout {
      cursor: pointer;
      border: 1px solid rgba($color: white, $alpha: 0.7);
      border-radius: 4px;
      margin-left: 4px;
      padding: 2px 5px;
      color: white;
    }

    .bt-icon {
      text-align: center;
      height: 30px;
      width: 30px;

      i {
        color: white;
      }
    }
  }

  .avatar-company,
  .avatar-worker {
    height: 140px;
    max-width: 300px;
    align-self: center;
    margin: 10px 0 0 0;
  }

  .avatar-worker {
    border-radius: 70px;
  }

  .input-name, .input-varios, .input-email, .input-city, .input-section {
    width: 300px;
    color: #fff;
    background-color: transparent;
    border: none;
    text-align: center;
  }
  
  .input-name {
    margin-top: 5px;
    font-size: 2em;
  }

  .input-varios{
    font-size: 1.3em;
  }

  .input-email {
    margin-top: 10px;
    font-size: 1.1em;
    color: $email-color;
  }

  .input-city {
    font-size: 0.9em;
  }

  .user-email {
    margin-top: 10px;
    font-size: 1.1em;
    color: $email-color;
  }

  .input-section {
    width: 100%;
    color: #000;
    text-align: left;
    padding: 10px;
  }

  .accordion {
    margin-top: 20px;
    width: 100%;
    color: $job-color;
    overflow-y: auto;
    overflow-x: hidden;

    .card-header {
      height: 100%;
      background: rgb(253, 251, 251);
      padding: 0;
    }

    .card-body {
      padding: 0;
    }

    button {
      color: $job-color;
      font-weight: bold;
    }
  }
}
