<nav class="nav">
  <a id="logo-wrap" href="/">
    <img src="../../../assets/img/technojob.png" alt="logo technojob" class="logo">
  </a>

  <div class="bt-wrap">

    <!-- login buttons -->
    <a class="bt" routerLink="/login/worker" routerLinkActive="active-link" *ngIf="!storage.getUser()">
      <span>WORKER</span>
    </a>
    <a class="bt" routerLink="/login/company" routerLinkActive="active-link" *ngIf="!storage.getUser()">
      <span>COMPANY</span>
    </a>

    <!-- worker buttons -->
    <a class="bt subscriptions" routerLink="/workersite/subscriptions" routerLinkActive="active-link"
      *ngIf="storage.getUser() && storage.getUserType() == 'worker'">
      <span>SUBSCRIPTIONS</span>
    </a>
    <a class="bt top" routerLink="/workersite/top" routerLinkActive="active-link"
      *ngIf="storage.getUser() && storage.getUserType() == 'worker'">
      <span>TOP</span>
    </a>

    <!-- company buttons -->
    <a class="bt new" routerLink="/companysite/new" routerLinkActive="active-link"
      *ngIf="storage.getUser() && storage.getUserType() == 'company'">
      <span>NEW</span>
    </a>
    <a class="bt job" routerLink="/companysite/jobs" routerLinkActive="active-link"
      *ngIf="storage.getUser() && storage.getUserType() == 'company'">
      <span>JOBS</span>
    </a>
    <a class="bt worker" routerLink="/companysite/workers" routerLinkActive="active-link"
      *ngIf="storage.getUser() && storage.getUserType() == 'company'">
      <span>WORKERS</span>
    </a>

    <!-- search zone -->
    <input [(ngModel)]="searchValue" type="text" placeholder="Search by job, company, skill..."
      class="search" *ngIf="storage.getUser() && storage.getUserType() == 'worker'">

    <input [(ngModel)]="searchValue" type="text" placeholder="Search by skills, education..."
      class="search" *ngIf="storage.getUser() && storage.getUserType() == 'company'">

    <!-- select place button -->
    <div class="dropdown" *ngIf="storage.getUser()">
      <button class="bt btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        SELECT PLACE TO SEARCH
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="mySearch($event)">*</a>
        <a *ngFor="let item of storage.citiesObj" class="dropdown-item" (click)="mySearch($event)">{{ item.name }}</a>
      </div>
    </div>

  </div>
</nav>