<nav class="nav">
  <a href="/">
    <img src="../../../assets/img/technojob.png" alt="logo technojob" class="logo">
  </a>

  <div class="bt-wrap">

    <!-- login buttons -->
    <a class="bt" routerLink="/login/worker" routerLinkActive="active-link" *ngIf="!storage.getUser()">
      <span>WORKER</span>
    </a>
    <a class="bt" routerLink="/login/company" routerLinkActive="active-link" *ngIf="!storage.getUser()">
      <span>COMPANY</span>
    </a>

    <!-- top -->
    <a class="bt" routerLink="#" routerLinkActive="active-link" *ngIf="storage.getUser()">
      <span>TOP JOBs</span>
    </a>

    <!-- search zone -->
    <input type="text" placeholder="Search by job, company, city... " class="search" *ngIf="storage.getUser()"
      (keyup)="mySearch($event)">

  </div>
</nav>