@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');

// $main-fonts: 'Poppins', sans-serif;
$main-fonts: Arial, sans-serif;
$main-font-color: #fff;
$bt-font-color: #fff;
$menu-font-color: #b3aeae;

$job-color: #167db7;
$profile-color: #167db7;
$details-color: #167db7;
$email-color: #5fff59;
$bt-color: #167db7;

// $bt-color: #216f9c;
// $border-color: rgb(178, 174, 174, 0.5);
$border-color: rgba(#fff, 0.7);
$input-color: #313131;
$edit-color: rgba(#7cd583, 0.3);
// $edit-color: rgba(#000, 0.2);

// msg colors
$success-color: #65da78;
$warning-color: #e4bd6a;

.msgOk,
.msgKo {
  text-align: center;
  // margin-top: 30px;
}

.msgKo {
  color: $warning-color;
}

.msgOk {
  color: $success-color;
}

// area border
$area-border: 1px solid
  rgba(
    $color: $job-color,
    $alpha: 0.9
  );

